In [76]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
df=pd.read_csv('C:/Users/Adim/Downloads/bhoomika/auto-mpg.csv')
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [78]:
df.describe()

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [79]:
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [80]:
df.shape

(398, 9)

In [81]:
df.dropna(inplace=True,axis=1)
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,car name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [91]:
y=df['car name']
x=df.drop('car name',axis=1)
x

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1
3,16.0,8,304.0,150,3433,12.0,70,1
4,17.0,8,302.0,140,3449,10.5,70,1
...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1
394,44.0,4,97.0,52,2130,24.6,82,2
395,32.0,4,135.0,84,2295,11.6,82,1
396,28.0,4,120.0,79,2625,18.6,82,1
397,31.0,4,119.0,82,2720,19.4,82,1

In [92]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [93]:
x_train

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
47,19.0,6,250.0,100,3282,15.0,71,1
278,31.5,4,89.0,71,1990,14.9,78,2
216,31.5,4,98.0,68,2045,18.5,77,3
397,31.0,4,119.0,82,2720,19.4,82,1
120,19.0,4,121.0,112,2868,15.5,73,2
...,...,...,...,...,...,...,...,...
343,39.1,4,79.0,58,1755,16.9,81,3
359,28.1,4,141.0,80,3230,20.4,81,2
323,27.9,4,156.0,105,2800,14.4,80,1
280,21.5,6,231.0,115,3245,15.4,79,1
8,14.0,8,455.0,225,4425,10.0,70,1

In [94]:
y_train

47              pontiac firebird
278          volkswagen scirocco
216            honda accord cvcc
397                   chevy s-10
120                  volvo 144ea
                 ...
343               toyota starlet
359    peugeot 505s turbo diesel
323                   dodge colt
280            pontiac lemans v6
8               pontiac catalina
Name: car name, Length: 278, dtype: object

In [95]:
y_test

326            vw dasher (diesel)
54                    datsun 1200
78               peugeot 504 (sw)
169                   amc gremlin
368      chevrolet cavalier wagon
                  ...
31                  toyota corona
203             volkswagen rabbit
233      volkswagen rabbit custom
45     amc hornet sportabout (sw)
314                 ford fairmont
Name: car name, Length: 120, dtype: object

In [96]:
lr=LinearRegression()
model=lr.fit(x_train,y_train)

ValueError: could not convert string to float: '?'

In [97]:
x_train.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
dtype: object

In [100]:
x_train=x_train.drop(columns=['car name']),axis=1
x_train

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (607025536.py, line 1)

In [90]:
lr=LinearRegression()
model=lr.fit(x_train,y_train)

ValueError: could not convert string to float: '?'